<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       ">
	<camelContext xmlns="http://camel.apache.org/schema/spring"	xmlns:c="http://javarticles.com/schema/articles">
		<route>
			<from uri="direct:article" />
			<log message="Split by article Element" />
			<split streaming="true">
				<tokenize token="c:article" inheritNamespaceTagName="c:articles" xml="true" group="2"/>
				<log message="${body}" />
			</split>
		</route>
	</camelContext>
</beans>
